<% include ./partials/header.ejs %>
<body>

    <h1><%= displayName %></h1>

    <div class = "container">
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= about %> <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          
          <% if (alertStyle == "Success") { %>
            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link">...</a>
            </div>
          <% } else if(alertStyle == "Info") { %>
          <div class="alert " role="alert">
            <a href="#" class="">...</a>
          </div>
          <% } else if(alertStyle == "Warn") { %>
          <div class="alert alert-warning" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
          <% } else if(alertStyle == "Danger") { %>
          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
          <% } %>
          
        </div>
        <div class="col-md-5 lineItem">
            <img width="500" height="500" src="/images/Brightwhitemoon.jpg" alt="Planets" class="img-thumbnail lineItem">
            
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading"><%= about %> <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        
          <% if (alertStyle == "Success") { %>
            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link">...</a>
            </div>
          <% } else if(alertStyle == "Info") { %>
          <div class="alert " role="alert">
            <a href="#" class="">...</a>
          </div>
          <% } else if(alertStyle == "Warn") { %>
          <div class="alert alert-warning" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
          <% } else if(alertStyle == "Danger") { %>
          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
          <% } %>
          
        </div>
        <div class="col-md-5 order-md-1 lineItem">
            <img width="500" height="500" src="/images/RedMoon3.jpg" alt="Planets" class="img-thumbnail lineItem">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= about %> <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        
          <% if (alertStyle == "Success") { %>
            <div class="alert alert-success" role="alert">
              <a href="#" class="">...</a>
            </div>
          <% } else if(alertStyle == "Info") { %>
          <div class="alert " role="alert">
            <a href="#" class="">...</a>
          </div>
          <% } else if(alertStyle == "Warn") { %>
          <div class="alert alert-warning" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
          <% } else if(alertStyle == "Danger") { %>
          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
          <% } %>
          
        </div>
        <div class="col-md-5 lineItem">
            <img width="500" height="500" src="/images/Best-Toronto-Skyline.jpg" alt="Planets" class="img-thumbnail lineItem">
        </div>
      </div>

    </div>

  <!--JAVASCRIPT-->
  <% include ./partials/footer.ejs %>