<body>
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="" id="title">Celestial Objects</h1>
    </div>
    <br>

  </div>



  <div class="container">
    <div class="row justify-content-center">
      <a class="col-6 btn btn-primary  " routerLink="/CelestialObjects/add" role="button">Add to Planets</a>
    </div>
  </div>

  <br>

  <div *ngFor="let item of celestialObjects ">
    <div class="container">
      <div class="col col-xs-10 col-md-12 col-lg-12 col-xl-12 ">
        <div class="">
          <div class="">

            <h3 id="celestialTitle" class=""> {{item.Name}}</h3>
            <p class="">{{item.Description}}</p>

            <a id="celestialObjectEditButton" routerLink="/CelestialObjects/edit/{{ item._id }}"
              class="btn btn-primary">Edit</a>
            <a id="celestialObjectEditButton" style="color: black" (click)="onIdClick(item)" class="btn btn-danger"
              data-toggle="modal" data-target="#exampleModal">Delete!</a>

            <br>
            

            <span class="">

              <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">

                <div class="modal-dialog" role="document">

                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete</h5>

                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>

                    </div>

                    <div class="modal-body">
                      Are you sure you want to delete {{deletingObject.Name}} ?
                    </div>

                    <div class="modal-footer">
                      <a type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                      <a type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="onConfirmClick()">Delete</a>
                    </div>

                  </div>
                </div>

              </div>

            </span>


          </div>
        </div>
      </div>
    </div>

    <br>
  </div>