<body>
<div class="container">
    <div class="row justify-content-center">
      <h1 class="" id="title">Planets</h1>
    </div>
    <br>
    
</div>

<div class="container">
    <div class="row justify-content-center">
    <a class="col-6 btn btn-primary btn-sm " routerLink="/Planets/add" role="button">Add to Planets</a>
    </div>
    <br>
    
</div>

    <div *ngFor="let item of planets">
        <div class="container">
            <div class="row row-xs-10 row-lg-12 row-xl-12 border border-primary">
                <div class="">
                    <div class="">
                        
                        <h3 class=" ">{{item.Name}}</h3>
                        <p class="">{{item.Description}}</p>
                        <div class="row justify-content-center">
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <img src="assets/Planets/{{item.Name}}.jpg" alt="Avatar" style="max-height:100%; max-width:100%; background-size: cover ;">
                            </div>
                            <div class="flip-card-back">
                              <img src="assets/Planets/{{item.Name}}.jpg" alt="Avatar" style="max-height:100%; max-width:100%; background-size: cover ;">
                            </div>
                          </div>
                        </div> 
                        </div>
                        
                        <span class="">
                            <a routerLink="/Planets/edit/{{ item._id }}" class="btn btn-primary " >Edit</a>
                            <a routerLink="/Planets/delete/{{ item._id }}" class="btn btn-danger" (click)="onDeleteClick()">Delete</a>
                            
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <br>
        
    </div>


    <br>
    <br>
    <br>
    <br>  
    <br>
    <br>
    <br>  
    <br>
    <br>
    <br>


    <div class="container">
        Playing around with how the column works 
        container is the parent row is the child and col is the grandchild
        <div class="row">
          <div class="col-6 col-sm alert-danger">
            One of three columns
          </div>
          <div class="col-4 col-sm alert-info">
            One of three columns
          </div>
          <div class="col-2 col-sm alert-success">
            One of three columns
          </div>
          
        </div>
    </div>
    

      <br>
      <br>
      <br>
      <br>

      <div class="container-fluid">
          Container fluid expands the whole width of the view port
        <div class="row">
          <div class="col-4 col-sm alert-danger">
            One of three columns
          </div>
          <div class="col-4 col-sm alert-info">
            One of three columns
          </div>
          <div class="col-4 col-sm alert-success">
            One of three columns
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>


      <div class="container-fluid">
        <div class="row">
          <div class="col-6 alert-danger">
            One of three columns
          </div>
          <div class="col-2 alert-info">
            One of three columns
          </div>
          <div class="col-2 alert-success">
            One of three columns
          </div>
        </div>


      </div>

      <br>
      <br>
      <br>
      <br>

      <div class="container-fluid">
        justify-content-center is used with the row to aling the items to the center
        <div class="row justify-content-center">
          <div class="col-6 alert-danger ">
            One of three columns
          </div>
          <div class="col-2 alert-info">
            One of three columns
          </div>
          <div class="col-2 alert-success">
            One of three columns
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>

      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <br>
            <br>
            <br>
            <br>
          <div class="col-1 align-item:flex-start alert-danger">
            One of three columns
            One of three columns
            One of three columns
            One of three columns
            One of three columns
          </div>
          <br>
      <br>
      <br>
      <br>

          <div class="col align-item:flex-center alert-info">
            One of three columns
            One of three columns
            One of three columns
            One of three columns
            One of three columns

          </div>
          <br>
      <br>
      <br>
      <br>

          <div class="col align-item:flex-end alert-success">
            One of three columns
            One of three columns
            One of three columns
            One of three columns
            One of three columns
          </div>
          
        </div>

      <br>
      <br>
      <br>
      <br>

      </div>

      <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            One of two columns
          </div>
          <div class="col-4">
            One of two columns
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            One of two columns
          </div>
          <div class="col-4">
            One of two columns
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-4">
            One of two columns
          </div>
          <div class="col-4">
            One of two columns
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-4 alert-danger">
            One of two columns
          </div>
          <div class="col-4 alert-danger">
            One of two columns
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-4 alert-success">
            One of two columns
          </div>
          <div class="col-4 alert-success">
            One of two columns
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-1 align-self-start">
            One of three columns
          </div>
          <div class="col align-self-center">
            One of three columns
          </div>
          <div class="col align-self-end">
            One of three columns
          </div>
        </div>
      </div>
</body>