<body>
  <div class="container">
    <div class=" justify-content-center">
      <h1 class="" id="title">Planets</h1>
    </div>


  </div>

  <div class="container">
    <div class="row justify-content-center">
      <a class="col-8 btn btn-primary btn-sm " routerLink="/Planets/add" role="button">Add to Planets</a>
    </div>
    <br>

  </div>




  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-2">
      <div *ngFor="let item of planets">
        <div id="planetContainer" class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-xs-2">

          <h3 id="planetTitle" class="card-title">{{item.Name}}</h3>

          <div class="card-body">
            <img src="assets/Planets/{{item.Name}}.jpg" alt="Avatar"
              style="height:100%; width:100%; background-size: cover ;">

            <p class="" [innerHTML]="item.Description">{{item.Description}}</p>
          </div>


          <span class="">
            
            <a id="planetEditButton" routerLink="/Planets/edit/{{ item._id }}" class="btn btn-primary">Edit</a>
            <a id="planetDeleteButton" (click)="onIdClick(item)" class="btn btn-danger"
              data-toggle="modal" data-target="#exampleModal">Delete!</a>
            <br>

              <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                
                <div class="modal-dialog" role="document">
  
                  <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
  
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  
                </div>
  
                    <div class="modal-body">
                      Are you sure you want to delete {{deletingObject.Name}} ?
                    </div>
  
                    <div class="modal-footer">
                      <a type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                      <a type="button" class="btn btn-primary" data-dismiss="modal" (click)="onConfirmClick()">Delete</a>
                    </div>
  
                  </div>
                  </div>
                
                </div>

          </span>


        </div>

        <br>
        <br>
        
      </div>
    </div>
  </div>


</body>