<p>celestial-objects-details works!</p>
<div>
<form class="testform" #testform="ngForm" (submit)="onDetailsSubmit()" method="POST">
    <fieldset class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" required
        name="Name" placeholder="Enter Name" autofocus
        id="Name"
        [(ngModel)] = "celestialObject.Name"
        value="{{celestialObject.Name}}">
    </fieldset>

    <fieldset class="form-group">
    
        <label for="Description">Description:</label>
        <input type="text" class="form-control" required
        name="Description" placeholder="Enter Description" autofocus
        id="Description"
        [(ngModel)] = "celestialObject.Description"
        value="{{celestialObject.Description}}">
    </fieldset>


    
    <fieldset class="form-group text-right">
        <button type="button" (click)="onDetailsSubmit();">Preview</button>
    </fieldset>

    <fieldset class="form-group text-right">
        <button type="button" (click)="onTestNavigate();">Back</button>
    </fieldset>
</form>
</div>