<div class="container">
    
    
    <div id="carouselExampleControls" class="carousel slide col-xl-12 col-lg-12 col-md-12 col-sm-12 " >

        <div class="carousel-inner ">

        <div class="carousel-item  active ">
            <img src="assets/shellSort/ShellSort0.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort1.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort1A.jpg" class="d-block w-100" alt="...">
        </div>

        
        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort2.jpg" class="d-block w-100" alt="...">
        </div>
        
        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort3.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort4.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort5.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort5A.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort6.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort7.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort8.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort9.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort9A.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort10.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort11.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort12.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort13.jpg" class="d-block w-100" alt="...">
        </div>
        
        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort14.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item  ">
            <img src="assets/shellSort/ShellSort14A.jpg" class="d-block w-100" alt="...">
        </div>

        
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" (click)="decrease()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"  (click)="increase()">
        <span class="carousel-control-next-icon" aria-hidden="true"  (click)="increase"></span>
        <span class="sr-only"  (click)="increase">Next</span>
        </a>

    </div>

    <div>
        THis is where the explanation text will go 
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    
</div>