

<body>  

    <!--<h1> displayName </h1>-->
    <script src="./tester.js"></script>
    <div class = "container">
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          
           <div>
               Hello World Amime test.
           </div>
          
            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link">...</a>
            </div>
          
            <div class="alert alert-info" role="alert">
            <a href="#" class="">...</a>
          </div>
          
          <div class="alert alert-warning" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
          
          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
          
          
        </div>
        <div class="col-md-5 ">
            <img width="500" height="500" src="/assets/about-page-1.jpg" alt="Planets" class="img-thumbnail lineItem">
            
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading"> about  <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        
          
            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link">...</a>
            </div>
          
            <div class="alert alert-info" role="alert">
            <a href="#" class="">...</a>
          </div>
          
          <div class="alert alert-warning" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
          
          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
          
          
        </div>
        <div class="col-md-5 ">
            <img width="500" height="500" src="/assets/about-page-2.jpg" alt="Planets" class="img-thumbnail lineItem">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> about  <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        
           
            <div class="alert alert-success" role="alert">
              <a href="#" class="">...</a>
            </div>
           
            <div class="alert alert-info" role="alert">
            <a href="#" class="">...</a>
          </div>
           
          <div class="alert alert-warning" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
           
          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>
           
          
        </div>
        <div class="col-md-5 ">
            <img width="500" height="500" src="/assets/about-page-3.jpg" alt="Planets" class="img-thumbnail lineItem">
        </div>
      </div>

    </div>

   
</body>