<body>
    <div class = "container">
    <div class="row featurette">
        <div class="col-md-7">
          <h1 class="featurette-heading">Planets<span class="text-muted"></span></h1>
          <h2 class="lead">This is a simple Mongo pull that describes the planets in the Solar System.</h2>
          

            <div class="alert alert-success" role="alert">
              <a href="/Planets" class="alert-link">Planets</a>
            </div>

          <div class="alert alert-info" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>

          <div class="alert alert-info" role="alert">
            <!--<p ><a href="/Planets" class="alert-link">  You can find the link here...</a></p>-->
            <a href="#" class="alert-link">...</a>
          </div>

          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>


        </div>
        <div class="col-md-5">
        <img width="500" height="500" src="/assets/project-page-1.jpg" alt="Planets" class="img-thumbnail rounded lineItem">    
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h1 class="featurette-heading">Celestial Objects<span class="text-muted"></span></h1>
          <h2 class="lead">This is a simple Mongo pull that describes Celestial Objects.</h2>
        

            <div class="alert alert-success" role="alert">
              <a href="celestialObjects" class="alert-link">Celestial Objects</a>
            </div>

          <div class="alert alert-info" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>

          <div class="alert alert-info" role="alert">
            <!--<p><a href="celestialObjects/ObjectList" class="alert-link">  You can find the link here...</a></p>-->
            <a href="#" class="alert-link">...</a>
          </div>

          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>

          
        </div>
        <div class="col-md-5 order-md-1">
          <img width="500" height="500" src="/assets/project-page-2.jpg" alt="Planets" class="img-thumbnail rounded lineItem">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h1 class="featurette-heading">Galaxies<span class="text-muted"></span></h1>
          <h2 class="lead">This is a simple Mongo pull that describes Galaxies</h2>

            <div class="alert alert-success" role="alert">
              <a href="Galaxies" class="alert-link">Galaxies</a>
            </div>

          <div class="alert alert-info" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>

          <div class="alert alert-info" role="alert">
              <!--<p &#9673;><a href="galaxy/ObjectList" class="alert-link">  You can find the link here...</a></p>-->
              <a href="#" class="alert-link">...</a>
            </div>

          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">...</a>
          </div>

          
        </div>
        <div class="col-md-5 ">
          
          <img width="500" height="500" src="/assets/project-page-3.jpg" alt="Planets" class="img-thumbnail lineItem">
        </div>
      </div>


    </div>

</body>
   