<body>

  <div class="container">
    <div class="row featurette">
      <div class="col-xl-6 col-lg-6">
        <h1 class="featurette-heading">Planets<span class="text-muted"></span></h1>
        <h2 class="lead">Mongo pull that describes the planets in the Solar System.</h2>


        <div class="alert alert-success" role="alert">
          <a href="/Planets" class="alert-link">Planets</a>
        </div>




      </div>
      <div class="col-xl-6 col-lg-6">
        <img width="500" height="500" src="/assets/proj-solar-system.jpg" alt="Planets"
          class="img-thumbnail rounded lineItem">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">


  <div class="container">
    <div class="row featurette">
      <div class="col-xl-6 col-lg-6 order-lg-2">
        <h1 class="featurette-heading">Celestial Objects<span class="text-muted"></span></h1>
        <h2 class="lead">Mongo pull that describes Celestial Objects.</h2>


        <div class="alert alert-success" role="alert">
          <a href="CelestialObjects" class="alert-link">Celestial Objects</a>
        </div>


      </div>
      <div class="col-xl-6 col-lg-6 order-md-1">
        <img width="500" height="500" src="/assets/proj-celestial-Objects.jpg" alt="Planets"
          class="img-thumbnail rounded lineItem">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="container">
    <div class="row featurette">
      <div class="col-xl-6 col-lg-6">
        <h1 class="featurette-heading">Galaxies<span class="text-muted"></span></h1>
        <h2 class="lead">Mongo pull that describes Galaxies</h2>

        <div class="alert alert-success" role="alert">
          <a href="Galaxies" class="alert-link">Galaxies</a>
        </div>


      </div>
      <div class="col-xl-6 col-lg-6">

        <img width="500" height="500" src="/assets/proj-galaxies.jpg" alt="Planets" class="img-thumbnail lineItem">
      </div>
    </div>
  </div>




</body>