<h1>galaxy works!</h1>
<a class="btn btn-primary btn-sm" routerLink="/Galaxies/add" role="button">Add to Galaxies</a>
<div *ngFor="let item of galaxy">
    <div class="row mb-1 p-4">
        <div class="col-md-12">
            <div class="row  border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative  ">
                <div class="col p-4 d-flex flex-column position-static rowItemMongo">
                    
                    <h3 class="">{{item.Name}}</h3>
                    
                    <p class="">{{item.Designation}}</p>
                    <p class="">{{item.Type}}</p>
                    <p class="">{{item.Diameter}}</p>
                    <p class="">{{item.DistanceFromEarth}}</p>
                    <p class="">{{item.Mass}}</p>
                    <p class="">{{item.Constellation}}</p>
                    <p class="">{{item.Discovered}}</p>
                    <p class="">{{item.Stars}}</p>
                    <span class="span2">
                        <a routerLink="/Galaxies/edit/{{ item._id }}" class="btn btn-primary" >Edit</a>
                        <a routerLink="/Galaxies/delete/{{ item._id }}" class="btn btn-danger" (click)="onDeleteClick()">Delete</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

