
<body>
<a class="btn btn-primary btn-sm" routerLink="/Users/add" role="button">Add to Users</a>
    <br>
    <br>

    <div *ngFor="let item of users">

        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-8 colxs-12">
                    <h3 class="mb-0">{{item.username}}</h3>
                    <p class="card-text mb-auto">{{item.displayName}}</p>
                    <p class="card-text mb-auto">{{item.email}}</p>
                    <p class="card-text mb-auto">{{item._id}}</p>
                    <span class="span2">
                        <a routerLink="/Users/delete/{{ item._id }}" class="btn btn-danger" (click)="onDeleteClick()">Delete</a>
                    </span>
                </div>

            </div>
        </div>



    </div>
</body>
    