<body>
  <div class="container">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Selection Sort<span class="text-muted"></span></h2>
        <p class="lead">Explaination of Selection Sort.</p>


       
        <div class="alert alert-danger" role="alert">
          <a routerLink="/Selection-Sort" class="alert-link">Selection Sort.</a>
        </div>


      </div>
      <div class="col-md-5 ">
        <img width="500" height="500" src="/assets/func-page-1.jpg" alt="Planets" class="img-thumbnail lineItem">
      </div>
    </div>
    
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"> Insertion Sort <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Explaination of Insertion Sort.</p>


        <!--
        <div class="alert alert-success" role="alert">
          <a href="#" class="alert-link">...</a>
        </div>

        <div class="alert alert-info" role="alert">
          <a href="#" class="alert-link">...</a>
        </div>

        <div class="alert alert-warning" role="alert">
          <a href="#" class="alert-link">...</a>
        </div>
        -->

        <div class="alert alert-danger" role="alert">
          <a routerLink="/Insertion-Sort" class="alert-link">Insertion Sort.</a>
        </div>



      </div>
      <div class="col-md-5">
        <img width="500" height="500" src="/assets/func-page-2.jpg" alt="Planets" class="img-thumbnail lineItem">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Shell Sort <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Explaination of Shell Sort.</p>


        <!--
        <div class="alert alert-success" role="alert">
          <a href="#" class="alert-link">...</a>
        </div>

        <div class="alert alert-info" role="alert">
          <a href="#" class="alert-link">...</a>
        </div>

        <div class="alert alert-warning" role="alert">
          <a href="#" class="alert-link">...</a>
        </div>
        -->

        <div class="alert alert-danger" role="alert">
          <a routerLink="/Shell-Sort" class="alert-link">Shell Sort</a>
        </div>


      </div>
      <div class="col-md-5 ">
        <img width="500" height="500" src="/assets/func-page-3.jpg" alt="Planets" class="img-thumbnail lineItem">
      </div>
    </div>
  </div>

  </body>