.button{
    -webkit-box-flex: 1;
    position: relative;
    padding: 20px;
    border: 2px solid #881238;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: .35s;
    transition: .35s;
}

.button:hover:after{
    left: -10%;
    width: 120%;
}

.button:after{
    position: absolute;
    -webkit-transistion: .35s;
    transition: .35s;
    content: '';
    width: 0;
    top: 0;
    height: 100%;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1;
    background: #881238;
}