<% include ../partials/header.ejs %>
<body>

<main class="container ">
    <% if(message.length > 0){ %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
     <% } %>

    <div class="row col-md-offset-4 col-md-4">
        <h1>Registration</h1>
        <form action="" method="POST">
            <fieldset class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" required
                name="username" placeholder="Enter Username" autofocus
                id="username">
            </fieldset>

            <fieldset class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" required
                name="password" placeholder="."
                id="password">
            </fieldset>

            <fieldset class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" required
                name="email" placeholder="."
                id="email">
            </fieldset>

            <fieldset class="form-group">
                <label for="displayName">Display Name:</label>
                <input type="text" class="form-control" required
                name="displayName" placeholder="."
                id="displayName">
            </fieldset>

            <fieldset class="form-group text-right">
                <input type="submit" value="register" class="btn btn-success">
            </fieldset>
        </form>
    </div>
</main>

<% include ../partials/footer.ejs %>